<h1>Street address to coordinates calculation</h1>

<form action = "/street_to_coords/results">

<div>
<label for="address">Street Address</label>
<input "type"=text name="street_address" id="address" placeholder="Enter the address">
</div>

<button>Lookup Coordinates!</button>
</p>

</form>