<form action = "/coords_to_weather/results">

<div>
<label for="first_one">Latitude</label>
<input "type"=text name="latitude" id="first_one" placeholder="Enter the latitude">
</div>

<div>
<label for="second_one">Longitude</label>
<input "type"=text name="longitude" id="second_one" placeholder="Enter the longitude">
</div>

<button>Lookup Weather!</button>

</form>