<h1>Street address to weather calculation</h1>

<form action = "/street_to_weather/results">

<div>
<label for="address">Street Address</label>
<input "type"=text name="street_address" id="address" placeholder="Enter the address">
</div>

<button>Tell me the weather!</button>
</p>

</form>