<h1>New addition</h1>

<form action="/add/result">

<label for="first_one">Add this:</label>
<input type="text" id="first_one" name="first_num">

<label for="second_one">to this:</label>
<input type="text" id="second_one" name="second_num">

<button>Add!</button>

</form>