<h1>New addition</h1>

<form action="/wizard_add">

<label>Add this:</label>
<input type="text" name="first_num">

<label>to this:</label>
<input type="text" name="second_num">

<button>Add!</button>

</form>