<h1>New multiplication</h1>

<form action = "/wizard_multiply">

<label>Multiply this:</label>
<input "type"=text name="first_num">

<label>by this:</label>
<input "type"=text name="second_num">

<button>Multiply!</button>

</form>