<h1>Street address to coordinates calculation</h1>

<form action = "/street_to_coords/result">

<div>
<label>Street Address</label>
<input "type"=text name="street_address" placeholder="Enter the address">
</div>

<button>Lookup Coordinates!</button>
</p>

</form>